# Pandas - Panel Data

Agenda
- Fundamentals
    * purpose
    * features
- Data Structure
    * Series
    * DataFrame
- Series
    * How to create series
    * BAsic Operations/Informations
    * Query in Series
- DataFrame
    * Creating DataFrames
    * Accessing DataFrame
    * Understanding DataFrame
    * Statistical Ops in DataFrame
        - Descriptive Statistics
        - Correlation Analysis
- Date and TimeDelta

In [1]:
# Installing Pandas
# !pip install pandas

In [13]:
# Import pandas  and numpy
import pandas as pd
import numpy as np

In [3]:
# Series -  Series is a One Dimensional array like object that contains the data and the labels/index

In [4]:
A = np.array([5,2,5,3,4])

In [5]:
print(A)

[5 2 5 3 4]

In [6]:
S =  pd.Series([5,2,5,3,4])
print(S)

0    5
1    2
2    5
3    3
4    4
dtype: int64

In [7]:
S2 =  pd.Series([5,2,5,3,4], index = ['Shirts','Polos', 'Chinos', 'Tie', 'Shoes'])
print(S2)

Shirts    5
Polos     2
Chinos    5
Tie       3
Shoes     4
dtype: int64

In [8]:
# Syntax  -  pd.Series(<list of values>, index = <list of index names>)
# Syntax  -  pd.Series(dictionary) --- This will make keys of the dictionary as index and values as the data

In [9]:
# Creating Series from a dictionary

In [10]:
d1 = {'Shirts': 20, 'polos' :40.0, 'Jeans':24, 'name': 'Jitendra'}

In [11]:
s3 = pd.Series(d1)

In [12]:
print(s3)

Shirts          20
polos         40.0
Jeans           24
name      Jitendra
dtype: object

# if an index parameter is passed in series function while creating series using a dictionary, it will create the series with the specified index filling with values of matching keys from dictionary

In [13]:
s4 = pd.Series(d1, index = ['Jeans','Wallet','Shirts', 'Tie'])

In [14]:
print(s4)

Jeans      24
Wallet    NaN
Shirts     20
Tie       NaN
dtype: object

In [15]:
# In Pandas the basic datatypes int, float, bool, datetime, category, object

In [16]:
# Accessing Series Data

In [17]:
print(s3)

Shirts          20
polos         40.0
Jeans           24
name      Jitendra
dtype: object

In [18]:
print(s3[2])

24

In [19]:
print(s3['Jeans'])

24

In [20]:
print(s3.Jeans)

24

In [21]:
print(s3[0], type(s3[0]), sep = '------')
print(s3[1], type(s3[1]), sep = '------')
print(s3[2], type(s3[2]), sep = '------')
print(s3[3], type(s3[3]), sep = '------')

20------<class 'int'>
40.0------<class 'float'>
24------<class 'int'>
Jitendra------<class 'str'>

In [22]:
s3.Jeans = 90

In [23]:
print(s3)

Shirts          20
polos         40.0
Jeans           90
name      Jitendra
dtype: object

In [24]:
s3['wallet'] = 100

In [25]:
print(s3)

Shirts          20
polos         40.0
Jeans           90
name      Jitendra
wallet         100
dtype: object

In [26]:
# Attributes and functions of Series

In [27]:
print(s3.ndim) # 1
print(s3.shape) # (5,)
print(s3.size) # 5
print(s3.dtype) # object
print(s3.index) # list of indices
print(s3.values) # array of data

1
(5,)
5
object
Index(['Shirts', 'polos', 'Jeans', 'name', 'wallet'], dtype='object')
[20 40.0 90 'Jitendra' 100]

In [28]:
s3.head()

Shirts          20
polos         40.0
Jeans           90
name      Jitendra
wallet         100
dtype: object

In [29]:
s3.head(3)

Shirts      20
polos     40.0
Jeans       90
dtype: object

In [30]:
s3.tail()

Shirts          20
polos         40.0
Jeans           90
name      Jitendra
wallet         100
dtype: object

In [31]:
s3.tail(2)

name      Jitendra
wallet         100
dtype: object

In [32]:
s3.describe() # Generate descriptive Statistics - count, mean, std, min, 25th, 50th, 75th, max for numerical dtype
                                                 # count, unique, top, freq

count      5
unique     5
top       20
freq       1
dtype: int64

In [33]:
s3['age'] = 40.0
s3['sd'] =20

In [34]:
print(s3)

Shirts          20
polos         40.0
Jeans           90
name      Jitendra
wallet         100
age           40.0
sd              20
dtype: object

In [35]:
s3.describe()

count      7
unique     5
top       20
freq       2
dtype: int64

In [36]:
S2.describe()

count    5.00000
mean     3.80000
std      1.30384
min      2.00000
25%      3.00000
50%      4.00000
75%      5.00000
max      5.00000
dtype: float64

In [37]:
np.percentile(S2.values, 10)

2.4

In [38]:
S2

Shirts    5
Polos     2
Chinos    5
Tie       3
Shoes     4
dtype: int64

In [39]:
print(s3)

Shirts          20
polos         40.0
Jeans           90
name      Jitendra
wallet         100
age           40.0
sd              20
dtype: object

In [40]:
s3.unique()

array([20, 40.0, 90, 'Jitendra', 100], dtype=object)

In [41]:
s3.nunique()

5

In [42]:
s3[s3 == 40.0]

polos    40.0
age      40.0
dtype: object

In [43]:
s3.value_counts()

20          2
40.0        2
90          1
Jitendra    1
100         1
Name: count, dtype: int64

In [44]:
#Operations And Transformations

() -  Paranthesis- function creation, function call, represent a tuple, create an expression
{} -  Curly Brackets -  create dictionaries, create sets, string formatting
[] -  Square Brackets - to create list, to specify index/slice

In [2]:
import pandas as pd

In [35]:
d2 = {'Shirts': 40, 'Pants': 10.5, 'Ties': 25 ,'Shoes':'Gucci', 'head': 'Vallabh'}

In [36]:
d2.keys()

dict_keys(['Shirts', 'Pants', 'Ties', 'Shoes', 'head'])

In [37]:
s5 = pd.Series(d2)
print(s5)

Shirts         40
Pants        10.5
Ties           25
Shoes       Gucci
head      Vallabh
dtype: object

In [38]:
s5.index

Index(['Shirts', 'Pants', 'Ties', 'Shoes', 'head'], dtype='object')

In [41]:
s5.head =45
s5.head

45

In [27]:
for ind in s5.index:
    print(s5.ind)

AttributeError: 'Series' object has no attribute 'ind'

In [20]:
print(s5.Name)

Vallabh

In [12]:
s5.identity = "Daniel Hughes"

In [13]:
s5

Shirts                 40
Pants                10.5
Ties                   25
Shoes                  56
identity    Daniel Hughes
dtype: object

In [7]:
print(s5['name'])

Vallabh

In [62]:
s5['name'] = 'Jack'

In [63]:
s5

Shirts      40
Pants     10.5
Ties        25
Shoes       56
name      Jack
dtype: object

In [14]:
#further confusion is when we run the below code it still shows the old value print(s5[0], type(s5[0]), sep = '--------')
print(s5[1], type(s5[1]), sep = '--------')
print(s5[2], type(s5[2]), sep = '--------')
print(s5[3], type(s5[3]), sep = '--------')
print(s5[4], type(s5[4]), sep = '--------')

10.5--------<class 'float'>
25--------<class 'int'>
56--------<class 'int'>
Daniel Hughes--------<class 'str'>

In [42]:
d3 = {1: 40, 8: 10.5, 6: 25 ,4:'Gucci', 3: 'Vallabh'}

In [52]:
d4 = {'Shirts': 40, 'Pants': 10.5, 'Ties': 25 ,'Shoes':56,'wallet': 25 ,'socks':56}

In [53]:
series5 =  pd.Series(d4)

In [54]:
series5

Shirts    40.0
Pants     10.5
Ties      25.0
Shoes     56.0
wallet    25.0
socks     56.0
dtype: float64

In [59]:
# Operations in Series

In [3]:
sr = pd.Series([1,2,3,4,5])
srwindex = pd.Series([2,4,6,8,0], index = ['a','b','c','d','e'])

In [4]:
srwindex

a    2
b    4
c    6
d    8
e    0
dtype: int64

In [74]:
sr + srwindex

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
dtype: float64

In [ ]:
# Generate anew series by modifying each value of a series in similar manner

In [78]:
sr

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [80]:
def fn(x):
    return x**3

In [81]:
cubic_val = sr.apply(fn)
cubic_val

0      1
1      8
2     27
3     64
4    125
dtype: int64

In [82]:
from functools import reduce

In [92]:
sr.apply(fn).values.sum()

225

In [95]:
sum2 = reduce(lambda x,y: x+y, sr)

In [96]:
sum2

15

In [5]:
sum([x+y for x,y in zip(sr, srwindex)])

35

In [6]:
sr.values + srwindex.values

array([ 3,  6,  9, 12,  5], dtype=int64)

In [7]:
mapped_data = sr.map({1:'One', 2:'Two'})

In [8]:
mapped_data

0    One
1    Two
2    NaN
3    NaN
4    NaN
dtype: object

In [9]:
srwindex

a    2
b    4
c    6
d    8
e    0
dtype: int64

In [10]:
srwindex.sort_values()

e    0
a    2
b    4
c    6
d    8
dtype: int64

In [14]:
srwindex['f'] = np.nan

In [15]:
srwindex

a    2.0
b    4.0
c    6.0
d    8.0
e    0.0
f    NaN
dtype: float64

In [17]:
srwindex.isnull()

a    False
b    False
c    False
d    False
e    False
f     True
dtype: bool

In [18]:
srwindex.isnull().sum()

1

In [24]:
srwindex.fillna(np.nan)

a    2.0
b    4.0
c    6.0
d    8.0
e    0.0
f    NaN
dtype: float64

In [25]:
# Query Series

In [26]:
data = {'a':10, 'b':20,'c':30,'d':40,'e':50}

In [27]:
series = pd.Series(data)

d    40
e    50
dtype: int64

In [31]:
# Select element greater than 30
series[series>30]

d    40
e    50
dtype: int64

In [32]:
# Select element equal to 20
series[series==20]

b    20
dtype: int64

In [33]:
# Select element nt equal to 40
series[series!=40]

a    10
b    20
c    30
e    50
dtype: int64

In [41]:
# Select element greater than 10 and less than 50
series[(series>10) & (series<50)]

b    20
c    30
d    40
dtype: int64

# DataFrame
A tabular structures

In [42]:
# Creating DataFrame
# Syntax ==  pd.DataFrame(data = <list, dict, series, array etc>, index = [<list of indices>], columns = [<.list of column labels])

In [43]:
d5 =  {'Name': ['Alice', 'Bob', 'Charlie'], 
       'Age':[24,30,29],
       'Salary':[50000, 25000, 45000]}

In [44]:
df_dict = pd.DataFrame(d5)

In [45]:
print(df_dict)

      Name  Age  Salary
0    Alice   24   50000
1      Bob   30   25000
2  Charlie   29   45000

In [46]:
df_dict

      Name  Age  Salary
0    Alice   24   50000
1      Bob   30   25000
2  Charlie   29   45000

In [47]:
l1= [['Alice', 29, 5000], ['Bob', 30, 4000], ['Charlie', 26, 49000]]

In [48]:
df_list = pd.DataFrame(l1, columns= ['Identity', 'time since born', 'Monthly_Pay'])

In [49]:
df_list

  Identity  time since born  Monthly_Pay
0    Alice               29         5000
1      Bob               30         4000
2  Charlie               26        49000

In [50]:
array = np.array([['Alice', 29, 5000], ['Bob', 30, 4000], ['Charlie', 26, 49000]])

In [53]:
df_array = pd.DataFrame(array, columns = ['Identity', 'time since born', 'Monthly_Pay'])
df_array

  Identity time since born Monthly_Pay
0    Alice              29        5000
1      Bob              30        4000
2  Charlie              26       49000

In [54]:
# Syntax to read external file using pandas 
# pd.read_<file type>("absolute path of the file")

In [56]:
df =  pd.read_csv("HousePrices.csv")

In [66]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [67]:
print(df.ndim)
print(df.shape)
print(df.size)
print(df.dtypes)
print(df.index)
print(df.columns)
print(df.values)

2
(4600, 18)
82800
date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object
RangeIndex(start=0, stop=4600, step=1)
Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')
[['2014-05-02 00:00:00' 313000.0 3.0 ... 'Shoreline' 'WA 98133' 'USA']
 ['2014-05-02 00:00:00' 2384000.0 5.0 ... 'Seattle' 'WA 98119' 'USA']
 ['2014-05-02 00:00:00' 342000.0 3.0 ... 'Kent' 'WA 98042' 'USA']
 ...
 ['2014-07-09 00:00:00' 416904.166667 3.0 ... 'Renton' 'WA 98059' 'USA']
 ['2014-07-10 00:00:00' 203400.0 4.0 ... 'Seattle' 'WA 98178' 'USA']
 ['2014-07-10 00:00:00' 220600.0 3.0 ... 'Covington' 'WA 98042' 'USA']]

In [73]:
df['statezip']

0       WA 98133
1       WA 98119
2       WA 98042
3       WA 98008
4       WA 98052
          ...
4595    WA 98133
4596    WA 98007
4597    WA 98059
4598    WA 98178
4599    WA 98042
Name: statezip, Length: 4600, dtype: object

In [69]:
df[['price', 'bedrooms']]

             price  bedrooms
0     3.130000e+05       3.0
1     2.384000e+06       5.0
2     3.420000e+05       3.0
3     4.200000e+05       3.0
4     5.500000e+05       4.0
...            ...       ...
4595  3.081667e+05       3.0
4596  5.343333e+05       3.0
4597  4.169042e+05       3.0
4598  2.034000e+05       4.0
4599  2.206000e+05       3.0

[4600 rows x 2 columns]

In [75]:
row_10_data = df.iloc[10]
row_10_data

date             2014-05-02 00:00:00
price                       463000.0
bedrooms                         3.0
bathrooms                       1.75
sqft_living                     1710
sqft_lot                        7320
floors                           1.0
waterfront                         0
view                               0
condition                          3
sqft_above                      1710
sqft_basement                      0
yr_built                        1948
yr_renovated                    1994
street            Burke-Gilman Trail
city                Lake Forest Park
statezip                    WA 98155
country                          USA
Name: 10, dtype: object

In [76]:
df.loc[10, 'yr_built']

1948

In [80]:
df.iloc[10,12]

1948

In [81]:
df.iloc[10:20:3]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
10,2014-05-02 00:00:00,463000.0,3.0,1.75,1710,7320,1.0,0,0,3,1710,0,1948,1994,Burke-Gilman Trail,Lake Forest Park,WA 98155,USA
13,2014-05-02 00:00:00,365000.0,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,Seattle,WA 98106,USA
16,2014-05-02 00:00:00,419000.0,3.0,1.50,1570,6700,1.0,0,0,4,1570,0,1956,0,15424 SE 9th St,Bellevue,WA 98007,USA
19,2014-05-02 00:00:00,275000.0,3.0,1.50,1180,10277,1.0,0,0,3,1180,0,1983,2009,12425 415th Ave SE,North Bend,WA 98045,USA

In [82]:
df.iloc[10:20:3, 2::2]

,bedrooms,sqft_living,floors,view,sqft_above,yr_built,street,statezip
10,3.0,1710,1.0,0,1710,1948,Burke-Gilman Trail,WA 98155
13,3.0,1090,1.0,0,1090,1955,2504 SW Portland Ct,WA 98106
16,3.0,1570,1.0,0,1570,1956,15424 SE 9th St,WA 98007
19,3.0,1180,1.0,0,1180,1983,12425 415th Ave SE,WA 98045

In [84]:
df.head(20)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
5,2014-05-02 00:00:00,490000.0,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA
6,2014-05-02 00:00:00,335000.0,2.0,2.00,1350,2560,1.0,0,0,3,1350,0,1976,0,2616 174th Ave NE,Redmond,WA 98052,USA
7,2014-05-02 00:00:00,482000.0,4.0,2.50,2710,35868,2.0,0,0,3,2710,0,1989,0,23762 SE 253rd Pl,Maple Valley,WA 98038,USA
8,2014-05-02 00:00:00,452500.0,3.0,2.50,2430,88426,1.0,0,0,4,1570,860,1985,0,46611-46625 SE 129th St,North Bend,WA 98045,USA
9,2014-05-02 00:00:00,640000.0,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,Seattle,WA 98115,USA
10,2014-05-02 00:00:00,463000.0,3.0,1.75,1710,7320,1.0,0,0,3,1710,0,1948,1994,Burke-Gilman Trail,Lake Forest Park,WA 98155,USA
11,2014-05-02 00:00:00,1400000.0,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,Seattle,WA 98105,USA
12,2014-05-02 00:00:00,588500.0,3.0,1.75,2330,14892,1.0,0,0,3,1970,360,1980,0,1833 220th Pl NE,Sammamish,WA 98074,USA
13,2014-05-02 00:00:00,365000.0,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,Seattle,WA 98106,USA
14,2014-05-02 00:00:00,1200000.0,5.0,2.75,2910,9480,1.5,0,0,3,2910,0,1939,1969,3534 46th Ave NE,Seattle,WA 98105,USA
15,2014-05-02 00:00:00,242500.0,3.0,1.50,1200,9720,1.0,0,0,4,1200,0,1965,0,14034 SE 201st St,Kent,WA 98042,USA
16,2014-05-02 00:00:00,419000.0,3.0,1.50,1570,6700,1.0,0,0,4,1570,0,1956,0,15424 SE 9th St,Bellevue,WA 98007,USA
17,2014-05-02 00:00:00,367500.0,4.0,3.00,3110,7231,2.0,0,0,3,3110,0,1997,0,11224 SE 306th Pl,Auburn,WA 98092,USA
18,2014-05-02 00:00:00,257950.0,3.0,1.75,1370,5858,1.0,0,0,3,1370,0,1987,2000,1605 S 245th Pl,Des Moines,WA 98198,USA
19,2014-05-02 00:00:00,275000.0,3.0,1.50,1180,10277,1.0,0,0,3,1180,0,1983,2009,12425 415th Ave SE,North Bend,WA 98045,USA

In [85]:
df.tail()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,2014-07-09 00:00:00,308166.666667,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,534333.333333,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,416904.166667,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,203400.000000,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,220600.000000,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [93]:
df[df['city']=='Seattle']

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
5,2014-05-02 00:00:00,4.900000e+05,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA
9,2014-05-02 00:00:00,6.400000e+05,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,Seattle,WA 98115,USA
11,2014-05-02 00:00:00,1.400000e+06,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,Seattle,WA 98105,USA
13,2014-05-02 00:00:00,3.650000e+05,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,Seattle,WA 98106,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4582,2014-07-07 00:00:00,4.060625e+05,2.0,1.00,1290,4650,1.0,0,0,4,1290,0,1906,1990,312 NE 81st St,Seattle,WA 98115,USA
4585,2014-07-07 00:00:00,4.868950e+05,3.0,1.00,1890,3330,1.5,0,0,4,1390,500,1901,0,4324 Dayton Ave N,Seattle,WA 98103,USA
4591,2014-07-08 00:00:00,3.961667e+05,3.0,1.75,1880,5752,1.0,0,0,4,940,940,1945,0,3529 SW Webster St,Seattle,WA 98126,USA
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA

In [94]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [96]:
df['statezip'].unique()

array(['WA 98133', 'WA 98119', 'WA 98042', 'WA 98008', 'WA 98052',
       'WA 98115', 'WA 98038', 'WA 98045', 'WA 98155', 'WA 98105',
       'WA 98074', 'WA 98106', 'WA 98007', 'WA 98092', 'WA 98198',
       'WA 98006', 'WA 98102', 'WA 98011', 'WA 98125', 'WA 98003',
       'WA 98136', 'WA 98033', 'WA 98029', 'WA 98117', 'WA 98034',
       'WA 98072', 'WA 98023', 'WA 98107', 'WA 98166', 'WA 98116',
       'WA 98024', 'WA 98055', 'WA 98077', 'WA 98027', 'WA 98059',
       'WA 98075', 'WA 98014', 'WA 98065', 'WA 98199', 'WA 98053',
       'WA 98058', 'WA 98122', 'WA 98103', 'WA 98112', 'WA 98005',
       'WA 98118', 'WA 98177', 'WA 98004', 'WA 98019', 'WA 98144',
       'WA 98168', 'WA 98001', 'WA 98056', 'WA 98146', 'WA 98028',
       'WA 98148', 'WA 98057', 'WA 98040', 'WA 98010', 'WA 98051',
       'WA 98031', 'WA 98109', 'WA 98030', 'WA 98126', 'WA 98032',
       'WA 98178', 'WA 98288', 'WA 98108', 'WA 98070', 'WA 98188',
       'WA 98002', 'WA 98039', 'WA 98022', 'WA 98068', 'WA 98047',
       'WA 98050', 'WA 98354'], dtype=object)